# Default ignored files
/shelf/
# Datasource local storage ignored files
/../../../../../:\dev\IntelliJ IDEA\MonopolySim\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Own stuff
*.project
*.classpath
*.settings
swagger.json
*.iml
*.idea
*.releaseBackup
*.vscode
target/
/Game/src/main/resources/local/

